<h1>Branches</h1>

<h2>Branch List</h2>
<table>
<% @branches.each do |b| %>
  <tr>
    <% if b.current %>
      <td><strong><%= b.name %></strong></td>
    <% else %>
      <td><%= b.name %></td>
      <td><a href="/a/branch/<%= b.name %>">switch</a></td>
      <!-- <td><a href="/a/delete_branch/<%= b.name %>">delete</a></td> -->
    <% end %>
  </tr>
<% end %>
</table>

<h2>New Branch</h2>
  <form method="post" action="/a/new_branch">
    New Branch Name : <input name="branch"><br/>
    <input type="radio" name="type" value="derive">Derivative Branch 
        <small>(starts new branch based on this one)</small><br/>
    <input type="radio" name="type" value="blank">Blank Branch <small>(starts new blank branch)</small><br/>
    <p class="right"><input type="submit" value="Create Branch" class="submit" /></p>
  </form>