<h1>Editing <%= @page.name %></h1>
<a href="javascript:history.back();" class="cancel">Cancel</a>
<form method="post" action="/e/<%= params[:page] %>">
  <p>
    <textarea name="body" rows="25" cols="130"><%= @page.raw_body %></textarea>
  </p>
  <p><input type="submit" value="Save as the newest version" class="submit" /></p>
</form>
