<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <link rel="stylesheet" href="/_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/_code.css" type="text/css" media="screen" />
    <script language="javascript" type="text/javascript" src="/_app.js"></script>
  </head>
  <body>
    <div id="container">
      <ul class="nav_list" id="top_nav">
        <li><a href="/" class="nav_link">home</a></li>
        <li><a href="/_list" class="nav_link">pages</a></li>
        <li><a href="/a/tarball" class="nav_link">tarball</a></li>
      </ul>
      <%= yield %>
      <div id="footer">
        powered by <a href="http://github.com/sr/git-wiki/network">git-wiki</a>
      </div>
    </div>
  </body>
</html>
