<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/_code.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div id="navigation">
      <a href="/">Home</a>
      <a href="/_list">List</a>
    </div>
    <%= yield %>
  </body>
</html>
