<% if @pages.empty? %>
  <h1>No pages yet</h1>
<% else %>
  <h1>All pages</h1>
  
  <div class="content">
    <ul>
      <% @pages.each do |page| %>
        <li>
          <strong><a href="/<%= page.name %>"><%= page.name %></a></strong> &mdash; 
          <a href="/e/<%= page.name %>">edit</a> &bull;
          <a href="/h/<%= page.name %>">history</a>
        </li>  
      <% end %>
    </ul>
  </div>
<% end %>
