<a href="/e/<%= @page.name %>" class="edit_link">edit this page</a>
<a href="/h/<%= @page.name %>" class="edit_link">history of page</a>
<h1 class="page_title"><%= @page.name %></h1>
<div id="page_content"><%= @page.version(params[:rev]) %></div>
