<h1 class="page_title"><%= @page.name %></h1>

<div class="sub_nav">
  <a href="/<%= @page.name %>" class="nav_link">current</a> &bull;
  <a href="/h/<%= @page.name %>" class="nav_link">history</a>
</div>

<div class="content">
  <%= @page.version(params[:rev]) %>
</div>
