<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ruby.server.gitwiki</string>
    
    <key>WorkingDirectory</key>
    <!-- change to path to your clone of git-wiki -->
    <string>/Users/al3x/src/git-wiki</string>
    
    <key>Program</key>
    <string>git-wiki.rb</string>
    
    <key>ProgramArguments</key>
    <array>
      <string>-e production</string>
      <string>-p 8777</string>
    </array>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>UserName</key>
    <!-- change to your username -->
    <string>al3x</string>
    
    <key>Debug</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
    	<key>PATH</key>
    	  <string>/usr/local/bin:/opt/local/bin:/opt/local/sbin:/usr/local/mysql/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/bin</string>
    </dict>
  </dict>
</plist>